<%# @label Button Variants %>
<%# @display height 200 %>

<div class="flex flex-wrap gap-4">
  <%= render DaisyComponents::Actions::ButtonComponent.new(text: "Default") %>
  <%= render DaisyComponents::Actions::ButtonComponent.new(text: "Neutral", variant: "neutral") %>
  <%= render DaisyComponents::Actions::ButtonComponent.new(text: "Primary", variant: "primary") %>
  <%= render DaisyComponents::Actions::ButtonComponent.new(text: "Secondary", variant: "secondary") %>
  <%= render DaisyComponents::Actions::ButtonComponent.new(text: "Accent", variant: "accent") %>
  <%= render DaisyComponents::Actions::ButtonComponent.new(text: "Info", variant: "info") %>
  <%= render DaisyComponents::Actions::ButtonComponent.new(text: "Success", variant: "success") %>
  <%= render DaisyComponents::Actions::ButtonComponent.new(text: "Warning", variant: "warning") %>
  <%= render DaisyComponents::Actions::ButtonComponent.new(text: "Error", variant: "error") %>
  <%= render DaisyComponents::Actions::ButtonComponent.new(text: "Ghost", variant: "ghost") %>
  <%= render DaisyComponents::Actions::ButtonComponent.new(text: "Link", variant: "link") %>
</div> 