<div class="flex justify-center gap-1 w-full my-1">
  <%= render DaisyUI::Kbd.new(text: "q") %>
  <%= render DaisyUI::Kbd.new(text: "w") %>
  <%= render DaisyUI::Kbd.new(text: "e") %>
  <%= render DaisyUI::Kbd.new(text: "r") %>
  <%= render DaisyUI::Kbd.new(text: "t") %>
  <%= render DaisyUI::Kbd.new(text: "y") %>
  <%= render DaisyUI::Kbd.new(text: "u") %>
  <%= render DaisyUI::Kbd.new(text: "i") %>
  <%= render DaisyUI::Kbd.new(text: "o") %>
  <%= render DaisyUI::Kbd.new(text: "p") %>
</div>
<div class="flex justify-center gap-1 w-full my-1">
  <%= render DaisyUI::Kbd.new(text: "a") %>
  <%= render DaisyUI::Kbd.new(text: "s") %>
  <%= render DaisyUI::Kbd.new(text: "d") %>
  <%= render DaisyUI::Kbd.new(text: "f") %>
  <%= render DaisyUI::Kbd.new(text: "g") %>
  <%= render DaisyUI::Kbd.new(text: "h") %>
  <%= render DaisyUI::Kbd.new(text: "j") %>
  <%= render DaisyUI::Kbd.new(text: "k") %>
  <%= render DaisyUI::Kbd.new(text: "l") %>
</div>
<div class="flex justify-center gap-1 w-full my-1">
  <%= render DaisyUI::Kbd.new(text: "z") %>
  <%= render DaisyUI::Kbd.new(text: "x") %>
  <%= render DaisyUI::Kbd.new(text: "c") %>
  <%= render DaisyUI::Kbd.new(text: "v") %>
  <%= render DaisyUI::Kbd.new(text: "b") %>
  <%= render DaisyUI::Kbd.new(text: "n") %>
  <%= render DaisyUI::Kbd.new(text: "m") %>
  <%= render DaisyUI::Kbd.new(text: "/") %>
</div>
