<%= tag.div(**html_attributes) do %>
  <div class="<%= inner_classes %>">
    <% if image %>
      <%= image %>
    <% elsif img_src %>
      <%= tag.img(src: img_src, alt: img_alt || 'Avatar', class: image_classes) %>
    <% elsif placeholder_text.present? %>
      <span class="text-3xl"><%= placeholder_text %></span>
    <% else %>
      <span class="text-3xl"><%= placeholder %></span>
    <% end %>
  </div>
<% end %> 
