<div class="<%= default_classes %>">
  <div class="<%= inner_classes %>">
    <% if image.present? %>
      <%= image %>
    <% elsif img_src.present? %>
      <%= tag.img src: img_src, alt: img_alt || 'Avatar', class: image_classes %>
    <% elsif placeholder.present? %>
      <%= placeholder %>
    <% elsif placeholder_text.present? %>
      <%= placeholder_text %>
    <% end %>
  </div>
</div> 
