<%= tag.div(**html_attributes) do %>
  <% displayed_avatars.each do |avatar| %>
    <%= avatar %>
  <% end %>

  <% if remaining_count %>
    <div class="<%= counter_classes %>">
      <div class="<%= "w-#{size}" if size %>">
        +<%= remaining_count %>
      </div>
    </div>
  <% end %>
<% end %> 